.row {
    display: flex;
    padding: 0 50px;
    
}
/* Create two equal columns that sits next to each other */
.column {
    max-width: 50%; 
    
} 

.column img {
    margin-top: 22px;
}

/* (B) RESPONSIVE IMAGE */
.textover img { width: 100%; }

/* (C) POSITION CAPTION */
.textover { position: relative; } /* REQUIRED */
.textover h3 {
  position: absolute;
  top: 25px;
  left: 0;
/* (D) CAPTION COSMETICS */
    width: 100%;
    padding: 10px;
    color: white;
    text-align: left;
    font-size: 10px;
    
}

.textover h4 {
    position: absolute;
    top: 35px;
    left: 0;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: left;
}

.textover h5 {
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: left;
}

.buttontext h3 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: solid orange;
    background: orange;
    width: fit-content;
    font-size: 15px;
}