header {
    background-image: url("./images/section1/one-background.png");
    background-size: auto;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 4rem;
}
.navbar {
    margin: 0;
}
.nav-1 {
    display: flex;
    justify-content: space-between;
}
.nav-2 {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;   
}
.nav-2 li {
    margin-left: 2rem;
}

 #motorcycle {
    width: auto;
    height: 30px;
}
#delivery {
    display: flex;
}

#one {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one-heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #3D2514;
    text-shadow: 4px 4px white;
}
#one-burger {
    font-size: 8em;
}
#one-week {
    font-size: 4em;
}
#one-subtitle {
    color: #3D2514;
    font-size: 1.2em;
    border: 5px dotted #3D2514;
    text-align: center;
}
